<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793927/blob/main/Andres_Javier_Galindo_A01793927_Capitulo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Autor : Andres Javier galindo Vargas
Codigo : A01793927

# IBM: PY0101EN
Python para ciencia de datos

## Temas  del capitulo

* Tu primer programa
* Tipos
* Expresiones y Variables
* Laboratorio: escriba su primer código de Python
* Operaciones con cadenas
* Prácticas

<h2 id="hello"> Primer programa "Hello" con Python</h2>

In [1]:
# Primer programa output

print('Hello, Python!')

Hello, Python!

<h3 id="version"> Validar la version de python que usa el cluster</h3>

In [2]:
# Python Version

import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

<h3 id="comments">Escribir Comentarios Python</h3>

In [3]:
# Escribir Comentarios

print('Hello, Python!') # esta linea imprime un string 
# print('Hi')

Hello, Python!

<h3 id="errors">Errores  en Python</h3>

In [7]:
# imprime error , porque la sintaxis frint no es la correcta

frint("Hello, Python!")

NameError: ignored

In [6]:
# imprime error , porque le falta terminar el parametro de forma corrrecta
print("Hello, Python!)

SyntaxError: ignored

<h2 id="types_objects" align="center">Tipos de objetos en Pyhton</h2>

<p>Ejemplos.</p>

In [8]:
# tipo de dato entero

11

11

In [9]:
# tipo de datos flotante

2.14

2.14

In [10]:
# tipo de dato string

"Hello, Python 101!"

'Hello, Python 101!'

<p>Validacion del tipo de datos.</p>

In [11]:
# tipo de dato 12

type(12)

int

In [12]:
# tipo de dato 2.14

type(2.14)

float

In [13]:
# tipo de dato "Hello, Python 101!"

type("Hello, Python 101!")

str

<h3 id="int">Tipos de datos enteros</h3>

<p>Los tipos de datos pueden ser positivos o negativos :</p>

In [14]:
# imprimir el tipo de dato -1

type(-1)

int

In [15]:
# imprimir el tipo de dato 4

type(4)

int

In [16]:
# imprimir el tipo de dato 0

type(0)

int

<h3 id="float">Flotantes</h3>

In [17]:
# imprimir el tipo de dato of 1.0

type(1.0) # Observe que 1 es un int y 1.0 es un float

float

In [18]:
# Print the type of 0.5

type(0.5)

float

In [19]:
# Print the type of 0.56

type(0.56)

float

In [20]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<h3 id="convert">converciones de tipos</h3>

In [22]:
# Convert 2 to a float

float(2)

2.0

In [23]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [24]:
# Casting de entero

int(1.1)

1

<h4>Casteo entre los diferentes tipos de datos </h4>

In [25]:
# Convertir una cadena en un entero

int('1')

1

In [26]:
# Convertir una cadena en un entero con error

int('1 or 2 people')

ValueError: ignored

In [27]:
# Convierta la cadena "1.2" en un flotante

float('1.2')

1.2

<h4>convertir de string a entero</h4>

In [28]:
# convierta entero a string

str(1)

'1'

In [29]:
# Convierta flotante a strig

str(1.2)

'1.2'

<h3 id="bool">tipo de datos boleanos </h3>

In [1]:
# Valor  true

True

True

In [2]:
# Valor  false

False

False

In [3]:
# validar el tipo de dato True

type(True)

bool

In [5]:
# validar el tipo de dato False

type(False)

bool

In [4]:
# Convierta  True a int

int(True)

1

In [6]:
# Convierta 1 a boolean

bool(1)

True

In [7]:
# Convierta 0 a boolean

bool(0)

False

In [8]:
# Convierta True a float

float(True)

1.0

<h3 id="exer_type">Ejercicio: Tipos de datos</h3>

<p>cual es el tipo de dato del resultado de : <code>6 / 2</code>?</p>

In [10]:
# el tipo de dato generado es un flotante
type(6/2) # float

float

<p>cual es el tipo de dato del resultado de : <code>6 // 2</code>? </p>

In [11]:
# el resultado es de tipo entero , division entera
type(6//2)

int

<hr>

<h2 id="expressions">Expresiones y variables</h2>

<h3 id="exp">Expresiones</h3>

In [12]:
# la suma de expresiones

43 + 60 + 16 + 41

160

In [ ]:
Resultado negativo de la resta

In [14]:
# resta de expresiones

50 - 60

-10

<p>Muliplicacion se usa con : *</p>

In [15]:
# multiplcacion de expresiones

5 * 5

25

<p>Division :

In [16]:
# Division de  expresiones

25 / 5

5.0

In [17]:
# Division de  expresiones

25 / 6

4.166666666666667

<p>Division entera:

In [18]:
# Division de  expresiones enteras

25 // 5

5

In [19]:
# Division de  expresiones enteras

25 // 6

4

<h3 id="exer_exp">Ejercicion de expresiones:</h3>

<p>Escriba una expresión que calcule cuántas horas hay en 160 minutos::

In [20]:
# expresion 2 horas valor entero
1
60/60 

# Or 

160//60

2

Expresiones matematicas mas complejas :

In [21]:
# expresion matematica +*

30 + 2 * 60

150

In [22]:
# expresion matematica +* con separador de calculo(), el valor cambia en estos casos

(30 + 2) * 60

1920

<h3 id="var">Variables</h3>

<p>Almacenar valores en la variables, para su posterior uso:</p>

In [23]:
# Almacena el  valor en variable x

x = 43 + 60 + 16 + 41

<p>Valida el valor de la variable:</p>

In [24]:
# imprime la variable

x

160

<p>Operaciones con la variable:</p>

In [25]:
# en la variable Y , realizo operacion aritmetica division

y = x / 60
y

2.6666666666666665

<p>Operacion aritmetica con las misma variable:</p>

In [26]:
# la variable X , realizo operacion con la valor que tiene la variable y realiza la division con la expresion 60

x = x / 60
x

2.6666666666666665

<p>Uso de nombres de variables significativos:</p>

In [27]:
# nombre de la variable significativa

total_min = 43 + 42 + 57 # Duración total de los álbumes en minutos
total_min

142

In [28]:
# nombre de la variable significativa

total_hours = total_min / 60 # Duración total de los álbumes en horas 
total_hours

2.3666666666666667

In [ ]:
# expresion mas compleja

total_hours = (43 + 42 + 57) / 60  # Horas totales en una sola expresión
total_hours

<h3 id="exer_exp_var">Exercise: Expresiones y Variables en Python</h3>

<p>cual es el valor de <code>x</code> en <code>x = 3 + 2 * 2</code></p>

In [30]:
# el valor es 7
x = 3 + 2 * 2
x

7

<p>cual es el valor de  <code>y</code> con <code>y = (3 + 2) * 2</code>?</p>

In [32]:
# El valor de la variable y es 10
y = (3 + 2) * 2
y

10

<p>cual es el valor de  <code>z</code> con <code>z = x + y</code>?</p>

In [35]:
# el valor de z es 17
z = x + y
z

17

Operaciones con String

In [36]:
"Michael Jackson"

'Michael Jackson'

In [37]:
# espacios entre datos string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

indices

In [41]:
name= "michael jackson"
print(name[6])
print(name[13])

l
o

In [43]:
# ubicacion de la cadena 
name[0:5:2]

'mca'

In [ ]:
Concatenar strings

In [45]:
# concatenar dos cadenas 
statement = name + "is the best"
statement

'michael jacksonis the best'

In [46]:
name = name + " is the best"
name

'michael jackson is the best'

Operaciones con string

In [47]:
# cambio a mayusculas

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [48]:
# replace de cadenas 
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [49]:
# busquedas en el String
name = "Michael Jackson"
name.find('el')

5

In [50]:
Numbers = "0123456"

In [53]:
#Numbers[::3]
Numbers[::2]
#Numbers[::6]

'0246'

In [54]:
"0123456".find('1')

1