<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793927/blob/main/Andres_Javier_Galindo_A01793927_Capitulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Autor : Andres Javier galindo Vargas Codigo : A01793927

IBM: PY0101EN
Python para ciencia de datos

Temas del capitulo

* listas y tuplas

<hr>

<h3>Crear tupla</h3>

In [ ]:
TupleA = (0,1,2,3)
print(A)

(0, 1, 2, 3)

In [ ]:
# validar el tipo de dato tupla
type(TupleA)

tuple

 <h3>Indices de las tuplas</h3>

In [ ]:
# acceder a los indices
tuple1 = ("disco",10,1.2 )
tuple1
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
# tipos de datos de los indices de la tuplas
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# tuplas negativas 
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

1.2
10
disco

 <h3>Concatenar tuplas </h3>

In [ ]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
# Slicing de tuplas
print(tuple2[0:3])
print(tuple2[3:5])

('disco', 10, 1.2)
('hard rock', 10)

In [ ]:
# longitud de la tupla
len(tuple2)

5

 <h3> Clasificacion y ordenamiento de  tuplas</h3>

In [ ]:
# tupla simple 
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

<h2 id="list">Listas</h2>

<h3 id="index">Indices</h3>

Una lista es una colección secuenciada de diferentes objetos, como números enteros, cadenas e incluso otras listas. La dirección de cada elemento dentro de una lista se llama índice. Se utiliza un índice para acceder a los elementos de una lista y hacer referencia a ellos..

In [ ]:
# Creando una lista

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

imprimir indices de la lista:

In [ ]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

<h3 id="content">contenido de la lista</h3>

Las listas pueden contener cadenas, flotantes y enteros. Podemos anidar otras listas y también podemos anidar tuplas y otras estructuras de datos.

In [ ]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

<h3 id="op">operaciones con listas</h3>

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
# cortando la lista

L[3:5]

['MJ', 1]

Ingresar elemento a una lista

In [ ]:
# el uso de  extend 

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

metodo similar es <code>append</code>.

In [ ]:
# Uso append para adicionar a las listas

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

In [ ]:
# Uso del extend

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
# Uso append  para adicionar elementos a la lista

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

mutabilidad de las listas:

In [ ]:
# Cambiar el elemento basado en el índice

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

eliminando elementos comando <code>del</code>:

In [ ]:
# Eliminar el elemento basado en el índice

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

Podemos convertir una cadena en una lista usando split. Por ejemplo, el método split traduce cada grupo de caracteres separados por un espacio en un elemento de una lista:

In [ ]:
# Dividir la cadena, por defecto es por espacio

'hard rock'.split()

['hard', 'rock']

Separar caracteres:

In [ ]:
# Dividir la cadena por coma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

<h3 id="co">Copiar y clonar lista</h3>

In [ ]:
# copia la referencia de la lista A en variable b, donde hace referencia a misma lista en memoria

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [ ]:
# Examinar la copia por referencia.

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [ ]:
# clonar por valor la lista A

B = A[:]
B

['banana', 10, 1.2]

El cambio no funcionara <b>A</b>, <b>B</b>:

In [ ]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

<h2 id="quiz">Quiz de  Listas</h2>

Crear una lista <code>a_list</code>, con los siguientes elementos <code>1</code>, <code>hello</code>, <code>\[1,2,3]</code> y <code>True</code>.

In [ ]:
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

[1, 'hello', [1, 2, 3], True]

Encuentre el valor almacenado en el índice 1 de <code>a_list</code>.

In [ ]:
a_list[1]

'hello'

Recupere los elementos almacenados en el índice 1, 2 y 3 de <code>a_list</code>.

In [ ]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatene las siguientes listas <code>A = \[1, 'a']</code> y <code>B = \[2, 1, 'd']</code>:

In [14]:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

Ejercicios

In [ ]:
A=(0,1,2,3)
#A[-1]
#A[3]
A[end]

In [15]:
B=["a","b","c"]
B[1:]

['b', 'c']

Conjuntos

In [17]:
# Crear conjunto

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [18]:
# Convert lista en conjunto

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [19]:
# Convert lista en conjunto
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

Operaciones de conjuntos

In [20]:
# conjunto

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [21]:
# Adicionar elemento al conjunto

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [22]:
# Eliminar elemento del conjunto

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [23]:
# Verificar si existe el elemento en conjunto A

"AC/DC" in A

True

<h2 id="quiz">Operaciones logicas en conjuntos</h2>

In [24]:
# creacion de conjuntos
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [25]:
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [27]:
# intersecciones entre conjuntos

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [28]:
# diferencias entre los dos conjuntos 

album_set1.difference(album_set2)

{'Thriller'}

In [29]:
# Union entre los dos conjuntos

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [30]:
# Comprobar el superconjunto

set(album_set1).issuperset(album_set2)

False

In [31]:
# comprobar subconjunto

set(album_set2).issubset(album_set1)

False

In [32]:
# comprobar subconjunto

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [33]:
#Comprobar el superconjunto

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [35]:
S={'A','B','C'}

U={'A','Z','C'}

intersection1 = S & U
intersection1

{'A', 'C'}

In [16]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

<h2 id="quiz">Diccionarios</h2>

In [1]:
# Crear un diccionario 

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [2]:
# Acceder al valor del diccionario por su clave

Dict["key1"]

1

In [ ]:
# Acceder al valor del diccionario por su clave

Dict[(0, 1)]

In [3]:
# Crear un diccionario

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [4]:
# Obtener valor por claves

release_year_dict['Thriller']

'1982'

In [5]:
# Obtener todas las claves en el diccionario

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [6]:
# Obtener todos los valores en el diccionario
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [7]:
# Agregar valor con clave en el diccionario

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [8]:
# eliminar datos por la clave

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

QUIZ

In [9]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [10]:
D = {'a':0,'b':1,'c':2}
D['b']

1

In [11]:
A = ('a','b','c')
A[1]

'b'

In [13]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)