<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793927/blob/main/PY0101EN_2_2_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Autor : Andres Javier galindo Vargas Codigo : A01793927

IBM: PY0101EN
Python para ciencia de datos

Temas del capitulo

* listas y tuplas

<hr>

<h3>Crear tupla</h3>

In [3]:
TupleA = (0,1,2,3)
print(A)

(0, 1, 2, 3)

In [4]:
# validar el tipo de dato tupla
type(TupleA)

tuple

 <h3>Indices de las tuplas</h3>

In [6]:
# acceder a los indices
tuple1 = ("disco",10,1.2 )
tuple1
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [7]:
# tipos de datos de los indices de la tuplas
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
# tuplas negativas 
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

1.2
10
disco

 <h3>Concatenar tuplas </h3>

In [10]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [11]:
# Slicing de tuplas
print(tuple2[0:3])
print(tuple2[3:5])

('disco', 10, 1.2)
('hard rock', 10)

In [12]:
# longitud de la tupla
len(tuple2)

5

 <h3> Clasificacion y ordenamiento de  tuplas</h3>

In [ ]:
# tupla simple 
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

<h2 id="list">Lists</h2>

<h3 id="index">Indexing</h3>

We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an <b>index</b>. An index is used to access and refer to items within a list.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="1000" />

To create a list, type the list within square brackets <b>\[ ]</b>, with your content inside the parenthesis and separated by commas. Letâ€™s try it!

In [ ]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

We can use negative and regular indexing with a list:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsNeg.png" width="1000" />

In [ ]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

<h3 id="content">List Content</h3>

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [ ]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

<h3 id="op">List Operations</h3>

We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsSlice.png" width="1000">

In [ ]:
# List slicing

L[3:5]

We can use the method <code>extend</code> to add new elements to the list:

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [ ]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

Each time we apply a method, the list changes. If we apply <code>extend</code> we add two new elements to the list. The list <code>L</code> is then modified by adding two new elements:

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

If we append the list  <code>\['a','b']</code> we have one new element consisting of a nested list:

In [ ]:
# Use append to add elements to list

L.append(['a','b'])
L

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

We can also delete an element of a list using the <code>del</code> command:

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [ ]:
# Split the string, default is by space

'hard rock'.split()

We can use the split function to separate strings on a specific character which we call a **delimiter**. We pass the character we would like to split on into the argument, which in this case is a comma.  The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [ ]:
# Split the string by comma

'A,B,C,D'.split(',')

<h3 id="co">Copy and Clone List</h3>

When we set one variable <b>B</b> equal to <b>A</b>, both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRef.png" width="1000" align="center">

Initially, the value of the first element in <b>B</b> is set as "hard rock". If we change the first element in <b>A</b> to <b>"banana"</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get "banana" instead of "hard rock":

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

This is demonstrated in the following figure:

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRefGif.gif" width="1000" />

You can clone list **A** by using  the following syntax:

In [ ]:
# Clone (clone by value) the list A

B = A[:]
B

Variable **B** references a new copy or clone of the original list. This is demonstrated in the following figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsVal.gif" width="1000" />

Now if you change <b>A</b>, <b>B</b> will not change:

In [ ]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

<h2 id="quiz">Quiz on List</h2>

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>\[1,2,3]</code> and <code>True</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

```

</details>

Find the value stored at index 1 of <code>a_list</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
a_list[1]

```

</details>

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
a_list[1:4]

```

</details>

Concatenate the following lists <code>A = \[1, 'a']</code> and <code>B = \[2, 1, 'd']</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

```

</details>

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python. 
<hr>

## Author

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01" target="_blank">Joseph Santarcangelo</a>

## Other contributors

<a href="https://www.linkedin.com/in/jiahui-mavis-zhou-a4537814a?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">Mavis Zhou</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-01-10        | 2.1     | Malika     | Removed the readme for GitShare    |
| 2020-08-26        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |
|                   |         |            |                                    |
|                   |         |            |                                    |

## <h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>